body { 
    font-family: 'Segoe UI', Roboto, sans-serif; 
    background: url(../images/bg.jpeg) no-repeat center center fixed;
    background-size: cover;
    display: flex; 
    justify-content: center; 
    align-items: center;
    min-height: 100vh;
    padding: 20px; 
    margin: 0; 
}

#quiz-container { 
    max-width: 600px; 
    width: 100%; 
    background: #ffffff; 
    padding: 30px; 
    border-radius: 20px; 
    box-shadow: 0 15px 35px rgba(0,0,0,0.5); 
    color: #000000; 
}

h1 { 
    color: #000000; 
    text-align: center; 
    margin-bottom: 5px; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    font-weight: bold; 
}

/* Таймер */
#timer-container {
    width: 100%;
    height: 8px;
    background: #eee;
    border-radius: 4px;
    margin-bottom: 20px;
    overflow: hidden;
}

#timer-bar {
    width: 100%;
    height: 100%;
    background: #ffcc00;
    transition: width 0.1s linear;
}

.level-badge { 
    text-align: center; 
    color: #666; 
    font-size: 0.9em; 
    margin-bottom: 20px; 
}

#question-text { 
    font-size: 1.1em; 
    text-align: center; 
    margin-bottom: 20px; 
    line-height: 1.6; 
}

.cocktail-name { 
    display: block; 
    font-size: 1.6em; 
    color: #000000; 
    font-weight: bold; 
    margin-top: 10px; 
}

/* Стиль кнопок варіантів */
.option-btn { 
    display: block; 
    width: 100%; 
    background: #f8f9fa; 
    color: #000000; 
    border: 1px solid #acacac; 
    padding: 18px; 
    margin: 12px 0; 
    border-radius: 12px; 
    cursor: pointer; 
    text-align: left; 
    transition: all 0.1s ease; 
    font-size: 0.95em; 
    outline: none;
    white-space: pre-line;
    position: relative;
    top: 0;
    box-shadow: 0 3px 0 #d8d8d8;
}

.option-btn:hover { background: #eeeeee; }
.option-btn:active { top: 3px; box-shadow: 0 1px 0 #ccc; }

/* Головні кнопки (Старт/Заново) */
.main-btn {
    width: 100%; 
    background: #000000; 
    color: #ffffff; 
    border: none; 
    padding: 18px; 
    font-weight: bold; 
    border-radius: 12px; 
    cursor: pointer; 
    font-size: 1.1em;
    transition: all 0.1s ease;
    box-shadow: 0 3px 0 #444;
    position: relative;
}

.main-btn:active { top: 3px; box-shadow: 0 1px 0 #444; }

.correct { 
    background: #b7e1cd !important; 
    border-color: #7adaab !important; 
    box-shadow: none !important;
    top: 0 !important;
}

.wrong { 
    background: #f4cccc !important; 
    border-color: #f19393 !important; 
    box-shadow: none !important;
    top: 0 !important;
}

#score-info { 
    text-align: center; 
    margin-top: 25px; 
    color: #666; 
    font-size: 0.8em; 
}

#final-score { font-size: 2em; margin: 15px 0; font-weight: bold; }
#final-comment { font-style: italic; color: #444; margin-bottom: 30px; }